{% extends "portfolio/template__base-portfolio.html" %}
{% load humanize %}

{% block styles %}
 {% load static %} <link rel="stylesheet" href="{% static "portfolio/markdown.css" %}">
{% endblock styles %}


{% block header %}
  {% include "portfolio/snipets/header.html" with active_page="docs" %}
{% endblock header %}

{% block content %}

<div class="doc__list-container">

  <ul>
    {% for note in notes %} 
      <li> <a href="/post/{{ note.id }}" > {{ note.title | title }} </a>  |  {{ note.date | date}} </li>
    {% endfor %}
  </ul>
  
</div>

{% endblock content %}