{% extends "portfolio/template__base-portfolio.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "portfolio/markdown.css" %}">
{% endblock styles %}


{% block header %}
  {% include "portfolio/snipets/header.html" with active_page="docs" %}
{% endblock header %}


{% block content %}

{% if post.draft == False %}

<div class="post__container">
  <h2>{{ post.title | title }}</h2>
  <pre>{{ post.date }}</pre>
  <hr/>
  <br/>
  <p>{{ post.content | safe }}</p>
</div>

{% else %}
<h1>No post at this time.</h1>
{% endif %} 

{% endblock content %}
