<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com" ></script>
    {% load static %} <link rel="stylesheet" href="{% static "portfolio/main.css" %}">
    <title>{% block title %} Django Project {% endblock title %}</title>
  </head>
  <body>
    <header id="header__main-container" class="mb-8">
      <h1 class="text-4xl"> {{tag | title}} </h1>

      <nav class="nav__main-container">
        <div class="logo__container-main">
          {% load static %} <img src="{% static "portfolio/logo.png" %}"
          alt="logo of python and Django">
        </div>

        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Contact Me</a></li>
          <li><a href="{% url 'docs' %}">My Docs</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %} Welcome To My Site! {% endblock content %}</main>
  </body>
</html>
