<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <script src="https://cdn.tailwindcss.com" ></script> {% endcomment %}
    {% load static %} <link rel="stylesheet" href="{% static "portfolio/main.css" %}">
    {% block styles %} {% endblock styles %}
    <title>{% block title %} Django Project {% endblock title %}</title>
  </head>
  <body>

    {% block header %} {% endblock header %}
    <main>{% block content %} Welcome To My Site! {% endblock content %}</main>


  </body>
</html>
