.post__container, .doc__list-container {
  margin: auto;
}

.social__link-container{
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
}

.social__link-container li{
  font-weight: 600;
}

.social__link-container li a {
  font-weight: 600;
  color: #ff4525;
}