body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

p{
  max-width: 75ch;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
}

hr{
  margin: 3rem 0rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li{
  list-style: none;
}

main {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
}

main h2 {
  margin: 3rem auto;
  max-width: 75ch;
}

article {
  margin: 1rem auto;
  max-width: max-content;
}

.code {
  margin: 3rem 0rem;
  padding: 1rem 2rem;
  width: 100%;
  display: block;
  background-color: #aaaaaa4d;
  overflow-inline: scroll;
}

.code-bash::before{
  content: "$ ";
}

img {
  margin: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}

/* =============================================== */
/* =========== Global Custom Class CSS =========== */

.bg-overlay{
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 53%;
}

#header__main-container{
  padding: 0.5rem 1rem;
  height: 100dvh;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  background-image: url(./bg.jpg);
  position: relative;
}

#header__main-container h1{
  display: inline-block;
  color: #eee;
  align-self: center;
}

#header__main-container nav {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  z-index: 10;
}

#header__main-container nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  color: #eee;
  font-size: 1.1rem;
}

.logo__container-main {
  max-width: 17rem;
  max-height: 5rem;
}