.post__container, .doc__list-container {
  margin: 2rem auto;
}

.doc__list-container a {
  font-weight: 600;
  color: #0f8f2c;
}

pre:has(code){
  margin: 3rem 0rem;
  padding: 1rem 2rem;
  width: 100%;
  display: block;
  overflow-inline: scroll;
  border-radius: 4px;
  background-color: #2D2D2D;
  color: #fff;
}

pre > code{
  line-height: 1.5rem;
}

:not(pre) > code {
  padding: 0.4rem 0.5rem;
  background-color: #484848;
  border-radius: 4px;
  color: #fff;
}

.code {
  margin: 3rem 0rem;
  padding: 1rem 2rem;
  width: 100%;
  display: block;
  overflow-inline: scroll;
  background-color: #000;
  color: #fff;
}