.post__container, .doc__list-container {
  margin: 2rem auto;
}

pre:has(code){
  margin: 3rem 0rem;
  padding: 1rem 2rem;
  width: 100%;
  display: block;
  overflow-inline: scroll;
  border-radius: 4px;
  background-color: #aaaaaab6;
}

pre > code{
  line-height: 1.5rem;
}

:not(pre) > code {
  padding: 0.4rem 0.5rem;
  background-color: #aaa;
  border-radius: 4px;
}

.code {
  margin: 3rem 0rem;
  padding: 1rem 2rem;
  width: 100%;
  display: block;
  background-color: #aaaaaa4d;
  overflow-inline: scroll;
}

.code-bash::before{
  content: "$ ";
}