{% extends "layout.html" %} {% block content %}
<!--
    <p>
        Super Mario Bros., released in 1985, is the first game in the iconic Mario series. Players control Mario as he navigates through the Mushroom Kingdom, jumping over obstacles, avoiding enemies like Goombas and Koopas, and collecting power-ups such
        as the Super Mushroom and Fire Flower to defeat Bowser and rescue Princess Peach.
    </p>
    
    <p>
        Super Mario Bros. 2, originally released in 1986 in Japan as Yume Kōjō: Doki Doki Panic, features a unique gameplay style where Mario and his friends Luigi, Peach, and Toad explore dream-like worlds. Unlike the first game, it emphasizes
        puzzle-solving, with players using vegetables to defeat enemies and bosses, making it a more experimental entry in the series.
    </p>

    <p>
        Super Mario Bros. 3, launched in 1988, introduces new power-ups like the Tanooki Suit and introduces airships and underwater levels. Players traverse various kingdoms, collecting cards and using warp whistles to progress, offering expanded
        exploration and a more varied level design compared to its predecessors.
    </p>
-->

<section>
    <ul>
        {% for post in posts %}

        <li>
            <article class="content-section py-3 px-4 mb-4">
                <div class="d-flex align-items-start gap-4">
                    <img class="rounded-circle article-img flex-shrink-0" src="/static/images/default.jpg" alt="{{ post.author }}'s profile picture" width="64" height="64" loading="lazy" />
                    <div class="flex-grow-1">
                        <div class="article-metadata mb-2">
                            <a class="me-2" href="#">{{ post.author }}</a>
                            <small class="text-body-secondary">{{ post.date_posted }}</small>
                        </div>
                        <h2>
                            <a class="article-title" href="#">{{ post.title }}</a>
                        </h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </div>
            </article>
        </li>

        {% endfor %}
    </ul>
</section>

{% endblock content %}
