* {
    /* Heading Sizes */
    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.75rem;
    --h4-size: 1.5rem;
    --h5-size: 1.25rem;
    --h6-size: 1rem;

    /* Site Colors */
    --primary-color: #568732;

    /* Colors */
    --color-pink: #fd8bd3;
}


html {
    & h1 {
        font-size: var(--h1-size);
    }
    & h2 {
        font-size: var(--h2-size);
    }
    & h3 {
        font-size: var(--h3-size);
    }
    & h4 {
        font-size: var(--h4-size);
    }
    & h5 {
        font-size: var(--h5-size);
    }
    & h6 {
        font-size: var(--h6-size);
    }
}

body {
    font-family: Arial, sans-serif;
}